@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }
    .hum-bads{
        display: block;
    }
    .banner-section, .footer-flex, .table-form-container, .deals-container02, .deals-container002, .icon-text{
        flex-direction: column;
    }
    .habits-container, .row, .form-inputs{
        grid-template-columns: repeat(1, 1fr);
    }
    .habits-card img{
        border-radius: 100rem;
        border: 3px solid #272727;
    }
    .form{
        text-align: left;
    }
    .run-section{
        flex-direction: column;
        text-align: left;
    }
    .run-image-container img{
        width: 100%;
        margin-top: 1.87rem;
        padding-right: 1.25rem;
    }
    .footer-Contract-me, .copy{
        text-align: left;
    }
}